.list {
  column-width: 28rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.item {
  background-color: #eeeeee;
  box-shadow: 2px 5px 6px #666666;
  break-inside: avoid;
  margin: 1rem 0;
  padding: 0.5em;
}

.item:first-of-type {
  margin-top: 0;
}

.item:last-of-type {
  margin-bottom: 0;
}

.icon {
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.achievement__heading {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.2)
  );
  color: white;
  margin: 0;
  padding: 0.25em 0.5em;
}

.ratio {
  font-size: 1.25em;
}
