.block {
}

.list {
  column-width: 28rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.item {
  background-color: #eeeeee;
  border: 1px solid #f6f6f6;
  box-shadow: 2px 5px 6px #666666;
  break-inside: avoid;
  margin: 1rem 0;
}

.item:first-of-type {
  margin-top: 0;
}

.item:last-of-type {
  margin-bottom: 0;
}

.icon {
  height: 1em;
  vertical-align: middle;
  width: 1em;
}
