.tile {
  border: 2px solid silver;
}

.Junk {
  border-color: silver;
}

.Basic {
  border-color: black;
}

.Fine {
  border-color: teal;
}

.Masterwork {
  border-color: green;
}

.Rare {
  border-color: gold;
}

.Exotic {
  border-color: orangered;
}

.Ascended {
  border-color: magenta;
}

.Legendary {
  border-color: purple;
}
