.materials__inline-wrapper {
  align-items: center;
  display: grid;
  grid-template: "header input" auto "list list" auto / 1fr auto;
  /* (number of column gaps * gap width) + (column width * number of columns) */
  max-width: calc(calc(9 * 0.25rem) + calc(4rem * 10));
}

.materials__list {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, 4rem);
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.materials__header {
  grid-area: header;
}

.materials__control {
  grid-area: input;
}

.materials__list {
  grid-area: list;
}
