.materials__inline-wrapper {
  max-width: calc(
    /* margin */ 1rem +
      calc(
        calc(/* column gaps */ 9 * 0.25rem) +
          calc(/* number of columns */ 10 * 4rem)
      )
  );
}

.materials__list {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, 4rem);
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.materials__header {
  grid-area: header;
}

.materials__control {
  grid-area: input;
}

.materials__list {
  grid-area: list;
}
