.aside {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  bottom: 0;
  box-sizing: border-box;
  height: 100vh;
  left: 0;
  padding: 1rem;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

@media screen and (min-width: 64rem) {
  .aside {
    animation-duration: 0.1s;
    animation-name: slidein;
    background-color: initial;
    border: 0px;
    grid-area: c;
    height: auto;
    padding: 0;
    position: static;
    overflow-y: initial;
    width: 100%;
    z-index: -100;
  }

  .aside > .sticky {
    position: sticky;
    top: 0;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-100%) translateY(-5rem);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
