.aside {
  border: 1px solid black;
  box-sizing: border-box;
  min-height: calc(100vh - 2rem);
  grid-area: c;
  margin: 1rem 0;
  padding: 1rem;
}

@media screen and (min-width: 64rem) {
  .aside {
    border: 0px;
    height: auto;
    padding: 0;
  }

  .aside > .sticky {
    position: sticky;
    top: 0;
  }
}
