.grid {
  display: grid;
  grid-template:
    "nav" auto
    "main" auto / 1fr;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.heading--1 {
  align-self: center;
  grid-area: heading1;
}

.heading--2 {
  align-self: center;
  grid-area: heading2;
}

.main {
  grid-area: main;
}

.nav {
  grid-area: nav;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  flex: 0 1 auto;
  max-width: 7rem;
}

.nav__item > a {
  box-sizing: border-box;
  display: block;
  padding: 0.25em 0.5em;
  text-align: left;
}

.nav__item__img {
  height: 1.5rem;
  margin-right: 0.25em;
  vertical-align: middle;
  width: 1.5rem;
}

@media screen and (min-width: 45rem) {
  .nav__list {
    display: flex;
    flex-flow: column wrap;
    position: sticky;
    top: 0.25em;
  }

  .nav__item {
    flex: 1 1 auto;
    width: 7rem;
  }

  .grid {
    gap: 1rem;
    grid-template: "nav main" auto / auto 1fr;
  }
}

.aside {
  border: 1px solid black;
  box-sizing: border-box;
  min-height: calc(100vh - 1rem);
  margin: 0;
  padding: 1rem;
}

@media screen and (min-width: 64rem) {
  .aside {
    border: 0px;
    height: auto;
    min-height: auto;
    padding: 0;
    margin: 0;
  }

  .aside > .sticky {
    position: sticky;
    top: 0;
  }
}

.details__table {
  border: 1px solid black;
  border-collapse: collapse;
}

.details__table__thead__header__img {
  border: 0;
  display: inline;
  height: 2.5rem;
  margin-left: 0.5em;
  vertical-align: middle;
  width: 2.5rem;
}

.details__table__header {
  border-right: 1px solid black;
  padding: 0.25em 0.5em 0.25em 0.25em;
  text-align: right;
  vertical-align: top;
}

.details__table__cell {
  padding: 0.25em 0.5em 0.25em 0.25em;
  vertical-align: top;
}

.details__table__thead__header {
  border-bottom: 1px solid black;
  text-align: left;
}
