/** Non-collapsing area */
.tab {
  align-items: flex-start;
  border: 1px solid black;
  display: grid;
  grid-template:
    "heading control" auto
    "aside control" auto / 1fr auto;
  padding: 0.375rem 0.25rem;
}

@media screen and (min-width: 24rem) {
  .tab {
    gap: 1em;
    grid-template: "heading aside control" auto / 1fr auto auto;
  }
}

.tab__aside {
  grid-area: aside;
}

.tab__control {
  font-size: 1rem;
  grid-area: control;
  user-select: none;
}

.tab__heading {
  font-size: 1rem;
  font-weight: normal;
  grid-area: heading;
}

/** Preserve line-height */
.tab__heading:empty::before {
  content: " ";
  display: inline-block;
}

/** Collapse area */
.folder {
  box-sizing: border-box;
  min-height: 4rem;
  padding: 0.5rem;
}
