.button {
  background-color: #32328d;
  border: 0.25em solid #000000;
  box-shadow: 1px 1px 0.125em #000000, -0.1em -0.1em 0.125em #ffffff,
    inset 1px 4px 0.5em #4a4aa4;
  color: white;
  padding: 0.25rem;
  margin-top: -0.5rem;
}

.button:hover,
.button:focus {
  box-shadow: 1px 1px 0.25em #000000, -0.1em -0.1em 0.125em #ffffff,
    inset 2px 4px 0.5em #5e5eb9;
}

.button:active {
  box-shadow: 1px 1px 0.25em #000000, -0.1em -0.1em 0.125em #ffffff,
    inset 1px 2px 0.25em #131337;
}

.button > img {
  filter: invert(1);
  height: 1.5em;
  /* margin-right: 0.5em; */
  vertical-align: middle;
  width: 1.5em;
}

.working {
  animation: spin 4s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
